

 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
    *{
  
    font-family: 'Josefin Sans', sans-serif;
    }

.multi{    left: 859px;

-webkit-animation: rotate-scale-up 0.65s linear  infinite;
	        animation: rotate-scale-up 5.65s  linear infinite;

width:100px;
height:90px;
position:relative;
top:30%;
bottom:50%;
	opacity : 0.5;
	
}
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}


    .container {
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
      padding: 20px;
      background: rgba(54, 108, 221, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 3.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(54, 108, 221, 0.3);
          position: relative;
    top: 30%;
    }

    h1 {
      margin-bottom: 20px;
    }

    .question {
      font-size: 30px;
      margin-bottom: 10px;
    }

    #respuesta {
      width: 200px;
      height: 30px;
      margin-bottom: 10px;
    }

    #btn-facil,
    #btn-medio,
    #btn-dificil {
      margin-right: 10px;
    }

    body {
      background-color: black;
      transition: background-color 0.5s ease;
    }

    .incorrecto {
      background-color: red;
    }

    .correcto {
      background-color: green;
    }
.myButton{
  	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
